PORT=5000
ALLOWED_ORIGIN=http://localhost:3000

# Zoho Mail SMTP settings (example values – replace in your local .env)
# For Zoho India use smtp.zoho.in, for global use smtp.zoho.com
SMTP_HOST=smtp.zoho.in
SMTP_PORT=465
SMTP_SECURE=true

SMTP_USER=alok.dev@zohomail.in
SMTP_PASS=qxjxqg2zQLBb

CONTACT_TO=alok.dev@zohomail.in
